<ion-view hide-back-button="true">

	<ion-nav-title class="title">Welcome</ion-nav-title>

	<ion-nav-buttons side="primary">
		<button class="button button-clear"></button>
	</ion-nav-buttons>

	<ion-nav-buttons side="secondary">
		<button class="button button-clear"></button>
	</ion-nav-buttons>

	<ion-content>

	</ion-content>

	<ion-footer-bar class="bar-stable">
		<div class="button-bar">
			<a class="button button-clear">
				<button class="button button-clear" ng-click="openSignUpModal()">Sign Up</button>
			</a>
			<a class="button button-clear">
				<button class="button button-clear" ng-click="openLogInModal()">Log In</button>
			</a>
		</div>
	</ion-footer-bar>

</ion-view>
