<ion-modal-view>

  <ion-header-bar class="bar-stable">

    <button class="button button-clear" ng-click="closeCameraModal()">Close</button>
    <h1 class="title" ng-click="takePicture()">Camera</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="uploadPost()">Upload</button>
    </div>

  </ion-header-bar>

  <ion-content>
    <img src="{{imgURI}}" id="target"  width="100%" ng-if="imgURI !== null">
  </ion-content>

</ion-modal-view>
