<ion-modal-view>

  <ion-header-bar class="bar-stable">

    <button class="button button-clear" ng-click="closeLogInModal()">Close</button>
    <h1 class="title">Log In</h1>
    <div class="buttons">
      <button class="button button-clear"></button>
    </div>

  </ion-header-bar>

  <ion-content>

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>

    <div class="padding">
      <button class="button button-block" ng-click="login()">Log In</button>
    </div>

  </ion-content>

</ion-modal-view>
