<ion-modal-view>

  <ion-header-bar class="bar-stable">

    <button class="button button-clear" ng-click="closeSignUpModal()">Close</button>
    <h1 class="title">Sign Up</h1>
    <div class="buttons">
      <button class="button button-clear"></button>
    </div>

  </ion-header-bar>

  <ion-content>

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
      <div class="item item-input item-button-right">
        <input type="text" placeholder="Email" ng-model="user.email">
        <button class="button button-icon" ng-click="showInfoAboutEmail()">
          <i class="icon ion-ios-help-outline" ng-click="showInfoAboutEmail()"></i>
        </button>
      </div>
      <p class="text-align">
        By creating an account you agree to the
        <a>Terms of Use</a> and
        <a>Privacy Policy</a>
      </p>
    </div>

    <div class="padding">
      <button class="button button-block" ng-click="signup()">Sign Up</button>
    </div>

  </ion-content>

</ion-modal-view>
