<ion-popover-view>
    <ion-content>
    <div>
	    <ion-scroll direction="x" class="">
	      <button class="button button-icon ion-record"
	      		  ng-repeat="color in colors"
	      		  style="color: {{color.code}};
	      		  font-size: 36.5px"
	      		  ng-click="changeBrushColor(color.code)">
	      </button>
	    </ion-scroll>
    </div>

    </ion-content>
</ion-popover-view>
