<ion-modal-view>

  <ion-header-bar class="bar-stable">

    <button class="button button-clear" ng-click="closeDrawModalAlert()">Close</button>
    <h1 class="title">Draw</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="postSlyde()">Add</button>
    </div>

  </ion-header-bar>

  <ion-content scroll="false">
    <canvas id="c"></canvas>
  </ion-content>

  <ion-footer-bar class="bar-stable">
    <div class="title">
      <button class="button button-clear" ng-click="addText()">Aa</button>
      <button class="button button-icon ion-paintbrush" ng-click="drawingMode()"></button>
      <button class="button button-icon ion-android-color-palette" ng-if="showColorPaletteIcon" ng-click="openColorsPopover($event)"></button>
      <button class="button button-icon ion-ios-undo" ng-click="undoLastObject()"></button>
    </div>
  </ion-footer-bar>

</ion-modal-view>
