<ion-modal-view>

  <ion-header-bar class="bar-stable">

    <button class="button button-clear" ng-click="closeProfileModal()">Close</button>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-plus-empty" ng-controller="draw" ng-click="openDrawModal()"></button>
    </div>

  </ion-header-bar>

  <ion-content>

  </ion-content>

  <ion-footer-bar align-title="left" class="bar-stable">
    <div class="buttons">
      <button class="button button-clear">
        By: <a>Username</a>
      </button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon ion-more" ng-click="openUserOptions()"></button>
    </div>
  </ion-footer-bar>


</ion-modal-view>
