<ion-view hide-back-button="true">

	<ion-nav-title class="title">Slyde</ion-nav-title>

	<ion-nav-buttons side="primary">
		<button class="button button-icon ion-ios-gear-outline"  ng-controller="settings" ng-click="openSettingsModal()"></button>
	</ion-nav-buttons>

	<ion-nav-buttons side="secondary">
	   <button class="button button-icon ion-ios-camera-outline" ng-controller="camera" ng-click="openCameraModal()"></button>
	</ion-nav-buttons>

	<ion-content>
		<div class="list">
			<a class="item" ng-controller="profile" ng-click="openProfileModal()">
				Username
				<span class="item-note"></span>
			</a>

		</div>
	</ion-content>
</ion-view>
