<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <button class="button button-icon ion-ios-close-empty" ng-click="closeFollowingModal()"></button>
    <h1 class="title">Following</h1>
    <div class="buttons">
      <button class="button button-clear"></button>
    </div>

  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item>
        Username
        <ion-option-button class="button-stable" ng-click="">
          Unfollow
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="">
          Block
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>

</ion-modal-view>
