<ion-modal-view>

  <ion-header-bar class="bar-stable">

    <button class="button button-clear" ng-click="closeSettingsModal()">Close</button>
    <h1 class="title">Settings</h1>
    <div class="buttons">
      <button class="button button-clear"></button>
    </div>

  </ion-header-bar>

  <ion-content>

    <div class="list">

      <div class="item item-divider">
        Account
      </div>

      <a class="item" ng-click="">My Profile</a>

      <div class="item item-divider">
        Friends
      </div>

      <a class="item" ng-click="findFriend()">Find Friend</a>
      <a class="item" ng-click="openFollowersModal()">Followers</a>
      <a class="item" ng-click="openFollowingModal()">Following</a>


      <div class="item item-divider">
        More
      </div>

      <a class="item" ng-click="">Terms of Use</a>
      <a class="item" ng-click="">Privacy Policy</a>
      <a class="item" ng-click="">Log Out</a>

    </div>

  </ion-content>

</ion-modal-view>
